@media (max-width: 767px){
	#cssmenu > ul {
	display: none;
}
#cssmenu > ul.open {
	display: block;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	width: 163px;
}
#cssmenu.align-right > ul {
	float: none;
}
#cssmenu.align-center > ul {
	text-align: left;
}
#cssmenu > ul > li, #cssmenu.align-right > ul > li {
	float: right;
	display: block;
}
#cssmenu > ul > li > a {
	padding: 10px 15px;
	border-right: 0;
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a {
	background: rgba(0, 0, 0, 0.1);
}
#cssmenu #menu-button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 40px;
  background: url(../images/ico-menu.png) no-repeat 5px 0;
}
#cssmenu #menu-button:hover, #cssmenu #menu-button:focus {
	background: url(../images/ico-menu.png) no-repeat 5px -40px;;
}
#cssmenu ul ul, #cssmenu ul li:hover > ul, #cssmenu > ul > li > ul, #cssmenu ul ul ul, #cssmenu ul ul li:hover > ul, #cssmenu.align-right ul ul, #cssmenu.align-right ul li:hover > ul, #cssmenu.align-right > ul > li > ul, #cssmenu.align-right ul ul ul, #cssmenu.align-right ul ul li:hover > ul {
	left: 0;
	right: auto;
	top: auto;
	opacity: 1;
	width: 100%;
	padding: 0;
	position: relative;
	text-align: right;
}
#cssmenu ul ul li {
	width: 100%;
}
#cssmenu ul ul li a {
	width: 100%;
	box-shadow: none;
	padding-left: 35px;
}
#cssmenu ul ul ul li a {
	padding-left: 45px;
}
#cssmenu ul ul li:first-child > a, #cssmenu ul ul li:last-child > a {
	border-radius: 0;
}
#cssmenu > ul > li.has-sub > a::after, #cssmenu ul ul li.has-sub > a::after {
	display: none;
}

.header.menu-fixed #cssmenu {
	margin-top: 0;
}
#cssmenu > ul {
	position: absolute;
    top: 117px;
    right: 15px;
    background-color: #fff;
    width: 200px;
    z-index: 9999;

}
#cssmenu > ul li {
	    float: left;
}
#cssmenu ul ul li a {
	background: #1D1D1D;
	color: #fff;
}
#cssmenu > ul li {
	/*border-bottom: 1px #333 solid;*/
}
.social {
	left: 100px;
	top: 17px;
}
#cssmenu > ul > li > ul {
	margin-top: 0px;
}
.submenu-button {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	border-right: 1px #4A4747 solid;
	display: block;
	height: 45px;
	width: 52px;
	cursor: pointer;
}
.mobile-nav-plus::before {
	content: '';
	position: absolute;
	left: 18px;
	top: 21px;
	display: block;
	width: 14px;
	height: 2px;
	background: #fff;
	z-index: 99;
}
.mobile-nav-plus::after {
	content: '';
	position: absolute;
	top: 15px;
	left: 24px;
	display: block;
	width: 2px;
	height: 14px;
	background: #fff;
	z-index: 99;
}
.mobile-nav-minus::before {
	content: '';
	position: absolute;
	left: 18px;
	top: 21px;
	display: block;
	width: 14px;
	height: 2px;
	background: #fff;
	z-index: 99;
}
#cssmenu ul ul.inner-nav-div {
	display: none;
	position: static;
	background: #eee;
	padding: 0;
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#cssmenu > ul > li:hover > a {
	color: #fff;
}
.inner-content h4 {
  margin: 40px 0 10px 0;
}
.inner-banner h1 {
  margin-top: 170px;
}
	

}