/* ------------------------------------------------------------------------------
    Project Name : VSupportU
	Description  : Responsive Style Sheet
	Author       : Abul Azad.S
	Created On   : 12-10-2017
	--------------------------------------------------------------------------------*/
/*Media max-width-1500*/
@media screen and (max-width:1500px) {
}

/*Media max-width-1366*/
@media screen and (max-width:1366px) {
.adr-blk {margin-left: 80px;}
.about-text {width: 60%;}
.service-list {width: 30.4%;padding: 30px;}
}
/*Media max-width-1280*/
@media screen and (max-width:1280px) {
.shadow-text {font-size: 60px;right: -2px;bottom: -5px;}}
/*Media max-width-1199*/
@media screen and (max-width:1199px) {
.about-text {width: 55%;padding: 0px 30px 0px 65px;}
.client-sec {width: 90%;}
.shadow-text {font-size: 50px;right: 2px;bottom: 1px;}
.service-list {margin-right: 30px;margin-bottom: 30px;width: 30%;}
.adr-blk {margin-left: 100px;padding-left: 30px;}
#contact {padding: 70px 0px 0px;}
.cntact-left .shadow-text {font-size: 45px;}
.phone-img {right: -30%;}
.phone-img img {width: 75%;border: 3px solid #d9dadf;}
.service-list:hover .hover-text p {font-size: 18px;}
.brand-companies .owl-nav .owl-next {right: -4%;}
#homeslider h3 span {font-size: 40px;}
#homeslider h3 {font-size: 35px;line-height: 40px;}
.section { padding: 0px 0px;}
.about-content {margin-top: 25px;}
#contact .shadow-text {font-size: 45px;    top: 100px;}
}
/*Media max-width-991*/
@media screen and (max-width:991px) {
.menu-top {margin-top: 5px;}
.phone-img img {width: 60%;}
.adr-blk {margin-left: 0px;padding-left: 20px;}
.service-list {padding: 20px;width: 45.8%;}
.hover-text {padding: 20px;}
.about-text,.client-sec {margin-top: 0px;padding: 0px 0px 0px 20px;}
#services .sub-text {width: 100%;}
#contact .shadow-text {top: 10px;}
}
/*Media max-width-768*/
@media screen and (max-width:768px) {}
/*Media max-width-767*/
@media screen and (max-width:767px) {
.btn-open .mobilemenu {display: none !important;}
.mobilemenu {display: block !important;position: absolute;z-index: 999;left: 0px;width: 100%;height: 100vh;top: 0;
-webkit-transition: all 0.9s ease;-moz-transition: all 0.9s ease;-o-transition: all 0.9s ease;transition: all 0.9s ease;margin-top: 0px !important;
padding-top: 60px;background: rgba(245, 30, 106, 0.91);
background: -moz-linear-gradient(top, rgba(245, 30, 106, 0.98) 0%, #f44336d1 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 132, 255, 0.75)), color-stop(100%, rgba(163, 96, 255, 0.75)));
background: -webkit-linear-gradient(top, rgba(245, 30, 106, 0.98) 0%, #f44336d1 100%);background: -o-linear-gradient(top, rgba(245, 30, 106, 0.98) 0%, #f44336d1 100%);
background: -ms-linear-gradient(top, rgba(245, 30, 106, 0.98) 0%, #f44336d1 100%);background: linear-gradient(to bottom, rgba(245, 30, 106, 0.98) 0%, #f44336d1 100%);
}
.mobilemenu li {float: none !important;margin-bottom: 30px;text-align: center;margin-left: 0px !important;padding-left: 0;}
.mobilemenu li a {color: #fff !important;}
.mobilemenu li a:hover,
.mobilemenu li .active {color: #000 !important;}
.social-icons-home,.call-us,.audio-control,.menu_items {display: none;}
.call-us.responsive-no {display: block !important;margin: 5px 0px 0px;font-size: 14px;}
.logo {width: 70%;}
.logo a {margin-top: 0px;font-size: 40px;}
#burgernav {display: block;}
#burgernav:before, #burgernav:after,#burgernav span {background: #ffffff;}
.header-fixed #burgernav:before,.header-fixed #burgernav:after,.header-fixed #burgernav span {background: #000;}
.phone-img {right: 10px;width: 35%;}
.phone-img img {float: right;}
.cntact-left,.cntact-right {width: 100%;margin-bottom: 0;}
.about-text h2 span,.client-right h2 span {font-size: 35px;}
.about-text {padding: 0px 0px 0px 0px;        width: 100%;}
.adr-blk {margin-left: 0px;padding-left: 15px;border-left: 0;}
.cntact-right {margin-top: 10px;}
#contact .shadow-text {left: 0;top: 0;font-size: 40px;text-align: center;color: #5d5d5d;position: relative; margin-bottom: 15px;}
.about-content {margin-top: 0;padding: 5px 10px 25px 10px;}
.brand-list {margin: 40px 0px 0px;}
#contact {padding:20px 0px 0px;}
#services .sub-text {width: 100%;padding: 0px 0px 30px;}
.header-fixed { padding: 0px 0px;}
.address-sec {margin-bottom: 20px;}
.service-list:hover .hover-text {padding: 10px;}
.service-list {width: 47%;}
.service-list:nth-child(2),.service-list:nth-child(4),.service-list:nth-child(6) {margin-right: 0;}
.service-list h3 {font-size: 16px;}
#client {padding: 55px 0px;}
.shadow-text {font-size: 35px;}
#homeslider h3 {font-size: 19px;line-height: 25px;}
#homeslider h3 span {font-size: 19px;}
#homeslider p {display: none;}
.logo img {width: 50%;}
.brand-companies.owl-carousel .owl-nav .owl-prev {margin-left: -2px;top: 37px;}
.brand-companies.owl-carousel .owl-nav .owl-next {top: 39px;}
.about-img img,.about-img:after {display: none;}
#about {padding: 0px 0px 0px;}
.address-sec .social-icon {margin-left: 20px;}
.ls-v5 .ls-bottom-slidebuttons, .ls-v5 .ls-nav-start, .ls-v5 .ls-nav-stop, .ls-v5 .ls-nav-sides {top: -20px;}
}
/*Media max-width-568*/
@media screen and (max-width:568px) {
.service-list {width: 100%;min-height: initial;}
.client-sec {width: 100%;}
.client-sec .sub-text {line-height: 30px;font-size: 20px;}
#map {margin-top: 0px;height: 300px;}
.client-right p {width: 100%;}
.client-image {margin: 15px 0px;}
.logo { width: 40%;}
.logo a {font-size: 25px !important;}
.cntact-left .shadow-text {top: -75px;}
.phone-img {top: -40px;right: 40px;}
.phone-img img {width: 80%;}
#services .sub-text {font-size: 20px;}
.brand-companies .owl-nav .owl-prev {left: 5% !important;}
.brand-companies .owl-nav .owl-next {right: -2% !important;}
.shadow-text {font-size: 25px;}
.about-text h2 {margin: 3px 0px 10px;font-size: 25px;line-height: 30px;}
.about-text h2 span {font-size: 27px;}
.ls-v5 .ls-bottom-slidebuttons, .ls-v5 .ls-nav-start, .ls-v5 .ls-nav-stop, .ls-v5 .ls-nav-sides {top: -19px;}
.about-content p {text-align: justify;}
.grid-img {padding: 10px;}
.client-caro.owl-carousel .owl-nav {left:30%;}
#homeslider h3 {font-size: 13px;line-height: 20px;}
#homeslider h3 span {font-size: 25px;}
#homeslider p {display: none;}
.about-content {margin-top: 0px;}
.client-sec {padding: 0px 0px 0px 0px;}
#client {padding: 20px 0px;}
.brand-companies.owl-carousel .owl-nav .owl-prev {margin-left: -18px;top: 16px;}
.brand-companies.owl-carousel .owl-nav .owl-next {top: 10px;}
}
/*Media max-width-375*/
@media screen and (max-width:375px) {
.logo {width: 60%;}
.shadow-text {font-size: 20px;}
.brand-list {margin: 0px 0px 0px;}
.page-title {margin: 0px auto 0px;}
.page-title h3 {padding-bottom: 5px;}
#burgernav {top: 59%;}
.logo img {width: 45%;}
.about-img img {max-height: 300px;width: 100%;}
}

@media screen and (max-width:767px) and (orientation: landscape) {

}